
#sweetprojects-overlay{
  position: fixed;;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
}

#sweetprojects-popup{
  background: #fff;
  align-self: center;
  padding: 10px;
  min-width: 440px;
  /* height: 300px; */
  max-height: 95%;
  border-radius: 3px;
  box-shadow: 0 2px 15px -3px rgba(0,0,0,0.3);
}

div.sweetprojects-popup-head{
  height: 30px;
  border-bottom: 1px solid #dfdfdf;
}

div.sweetprojects-popup-head > p{
  margin: 0;
  padding: 0;
  font-size: 13px;
  float: left;
}

div.sweetprojects-popup-body{
  min-height: 160px;
  padding: 10px 0;
  overflow-y: auto;
  max-height: calc(100vh - 110px);
}

div.sweetprojects-popup-body-group{
  margin: 10px 0;
}

div.sweetprojects-popup-body-group > h1{
  font-size: 13px;
  margin: 0 0 5px 0;
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
}

div.sweetprojects-popup-body-group:first-of-type > h1{
  display: none;
  margin-top: 0;
}

div.sweetprojects-popup-body-group-inactive > h1{
  color: #fa2760;
}

div.sweetprojects-popup-body-group > h1 > input{
  float: right;
}

div.sweetprojects-popup-body-items{

}

div.sweetprojects-popup-body-item{
  background: #e6e6e6;
  padding: 2px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 0 10px 0;
}

div.sweetprojects-popup-body-item > label{
  float: left;
  padding: 0 5px;
  line-height: 21px;
  max-width: 160px;
  margin: 0;
}

div.sweetprojects-popup-body-item > label:after{
  content: ':';
}

div.sweetprojects-popup-body-item > input{
  float: right;
  background: #fff;
  padding: 2px 5px;
  border: none;
  border-radius: 3px;
  width: calc(100% - 180px);
}

div.sweetprojects-popup-body-item > select{
  float: right;
  width: 247px;
}

div.sweetprojects-popup-foot{
  /* height: 30px; */
  overflow: hidden;
  border-top: 1px solid #dfdfdf;
  padding: 10px 0 0 0;
}

div.sweetprojects-popup-foot > button{
  float: right;
  margin: 0 5px;
  /* border: 1px solid #dedede; */
  /* background: #f9f9f9; */
  background: transparent;
  border: none;
  border-radius: 3px;
  padding: 3px 8px;
}

div.sweetprojects-popup-foot > button[disabled]{
  opacity: 0.6;
}

div.sweetprojects-popup-foot > button:first-of-type{
  margin-left: 0;
  padding-left: 0;
}

div.sweetprojects-popup-foot > button:nth-of-type(2){
  margin-right: 0;
  padding-right: 0;
}
